<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Scorify Home Page</title>
	<link rel="stylesheet" href="/css/upload.css">


</head>

<body>

<h2>Select a .wav file to Score</h2>

<form method="post" action="/" enctype="multipart/form-data">
  <dl><p>
		<input type="file" name="file" autocomplete="off" required>
	</p></dl>
  <p>
		<input type="submit" value="Submit">
	</p>
</form>

<section id="tail">
	<script src="/js/upload.js" charset="utf-8"></script>
</section>
</body>

</html>
