@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

body {
  background: #ebeff2;
  font-family: "Exo 2";
}

.title {
  margin: 10px auto 10px auto;
  font-family: "Exo 2";
  font-size: 48px;
  text-align: center;
}

.progress-field .header {
  width: 95%;
  height: 30px;
  margin: 2px auto;
  padding: 3px;

  color: white;
  font-weight: bold;
  font: Verdana;
  font-size: 24px;

  text-align: center;

  background: #555;
}

.progressbar {
  width: 95%;
  margin: 1px auto;
  border: 1px solid black;
  position: relative;
  padding: 2px;
  background: #555;
}

.percent {
  position: absolute;
  left: 5px;
  color: white;
  font-weight: bold;
  font: Verdana;
}

.bar {
  height: 20px;
  background-color: rgb(43,194,83);
}
